body {
	margin: 0px;
	background-image: url("../img/background.png");
	background-color: grey;
	background-repeat: repeat;
	font-family: 'Century Gothic';
	font-size: 18px;
	overflow: auto;
}
img{
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}
fieldset{
	width:280px;
}
/*		

	border: 1px dashed lime;
*/	
#tlocHeader {
	position: absolute;
	width:100%;
	height:55px;
	background-color: #000;
}
#logo{
	position: absolute;
	padding: 7 0 7;
	max-height: 78%;
	left: 14.5%;
}
#container {
	position: absolute;
	top: 65px;
	left: 1%;
	width:98%;
	height: 75%;
	background-color: #fff;
	box-shadow: 2px 2px 10px #888888;
}
/*************** Left Hand Side ***************/
.lhs {
	position: absolute;
	top: 5px;
	left: 5px;
	width:854px;
	height:480px;
	font-family: 'Tahoma';
	font-weight: bold;
	text-align: left;
	color: #fff;
	overflow: hidden;
	font-size: 52px;
}
.lhsTop{
	position: absolute;
	width:100%;
	height:18%;
}
.name{
	position: absolute;
	top: 10px;
	width:55%;
}
#p1Name{
	left: 5px;
}
#p2Name,#t2Name{
	position: absolute;
	right: 5px;
	text-align: right;
}
#t1Name,#t2Name{
	top:40px;
	font-size:20px;
}
#t1Name{ left: 25px; }
#t2Name{ right: 25px; }
/*************** LHS Chars ***************/
#p1Char,#t1Char {
	position: absolute;
	left: 0px;
}
#p2Char,#t2Char {
	position: absolute;
	right: 0px;
	transform: scaleX(-1);
}
#t1Char,#t2Char{
	width:60%;
	bottom:5%;
}
/*************** LHS Bottom ***************/
.lhsBot{
	position: absolute;
	bottom: 0px;
	width:100%;
	height:15%;
}
#bracket{
	position: absolute;
	left: 5px;
	bottom:5px;
	width:100%;
}
#number{
	position: absolute;
	bottom:50px;
	right:200px;
	width:120px;
	font-size: 32px;
}
/*************** Right Hand Side ***************/
.rhs{
	position: absolute;
	top: 5px;
	left: 870px;
	height: 480px;
	width: 420px;
	font-weight: bold;
	font-size: 16px;
	color: #BF061E;
	max-width: 100%;
	padding-right: 5px
}
.buttons{
	position: absolute;
	bottom: -38px;
	left: -260px;
	background-color: #00D1FF;
	color: #fff;
	padding: 2 5 5 5;
}
#download-link{
	position: relative;
	top: 3px;
}
/*************** Other ***************/
.topleft{
	position: absolute;
	top: 0px;
	left: 0px;
}
/*************** deff not copy pasta ***************/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}